pre.src {
    font-family: Monaco, Courier;
    background: #191919;
    width: 890px;
    padding: 5px;
    font-size: 1em;
    line-height: 2em;
    clear: both;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    white-space: pre-wrap;
}

code {
    color: #e8e8d3;

    span.type {
        color: #ffb964;
    }

    span.variable-name, span.keyword {
        color: #c6b6ee;
    }

    span.comment-delimiter, span.comment {
        color: #888;
    }

    span.rainbow-delimiters-depth-1 {
        color: #729fcf;
    }

    span.rainbow-delimiters-depth-2 {
        color: #8ae234;
    }

    span.rainbow-delimiters-depth-3 {
        color: #fce94f;
    }

    span.rainbow-delimiters-depth-3 {
        color: #ad7fa8;
    }

    span.rainbow-delimiters-depth-4 {
        color: #729fcf;
    }

    span.rainbow-delimiters-depth-5 {
        color: #e9b96e;
    }

    span.rainbow-delimiters-depth-6 {
        color: #fcaf3e;
    }

    span.rainbow-delimiters-depth-7 {
        color: #3465a4;
    }

    span.rainbow-delimiters-depth-8 {
        color: #73d216;
    }

    span.rainbow-delimiters-depth-9 {
        color: #f57900;
    }

    span.rainbow-delimiters-depth-10 {
        color: #75507b;
    }

    span.rainbow-delimiters-depth-11 {
        color: #c17d11;
    }

    span.clojure-keyword, span.constant {
        color: #cf6a4c;
    }

    span.string {
        color: #99ad6a;
    }

    span.clojure-java-call {
        color: #fcaf3e;
    }

    span.clojure-number {
        color: #ff73fd;
    }
}
